.Contents {
  border: 3px solid #94702a;
  grid-area: Contents;
  display: grid;
  grid-template-areas: 
    'BasicContent   BasicContent    BasicContent'
    'BasicContent   BasicContent    BasicContent'
    'BasicContent   BasicContent    BasicContent'
    'VegFrutsContent VegFrutsContent  VegFrutsContent'
    'VegFrutsContent VegFrutsContent  VegFrutsContent'
    'FreezerContent  FreezerContent   FreezerContent'
    'FreezerContent  FreezerContent   FreezerContent'
    'FreezerContent  FreezerContent   FreezerContent';
  grid-template-rows:  repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 85vh;
  margin-right: 6%;
}