.FreezerContent {
  display: block;
  grid-area: FreezerContent;
  border-top: 2px solid #042f58;
  background-color: aliceblue;
  background-image: url('../backImg/FreezerBackground.jpeg');
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  background-clip: border-box;
}