.AuthField {
  grid-area: AuthField;
  padding: 3% 10% 10% 20%;
}

.AuthForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 90%;
  width: 90%;
  flex-grow: 1;
  flex-shrink: 1;
  color: rgb(0, 0, 0);
  font-size: 1.2em;

  ::placeholder {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1em;
  }
}

.AuthForm__inputField {
  margin: 1% 0% 1% 0%;

}

.AuthForm__submit {
  max-width: 50%;
  padding: 1% 10% 1% 10%;
  font-size: 1em;
}
