.VegFrutsContent {
  grid-area: VegFrutsContent;
  border-top: 2px solid #042f58;
}

.VegFrutsContent__vegFrutsBackground {
  height: 19.5%;
  width: 48.5%;
  background-image: url('../backImg/VegFrutsBackground.jpeg');

}

.VegFrutsContent__vegFrutsElements {
  height: 96%;
  width: 98%;
  max-height: min-content;
}

.VegFrutsContent__VegFrutsElement {
  min-height: 15%;

}

.VegFrutsElement__cross{
  height: 50%;
  width: 10%;
}

.VegFrutsContent__AddBtn_vegFruts {
  height: 29%;

}

.FreezerOneInput_vegFruts {
  height: 52%;
}
