.GoodsListInput {
  display: block;
  /* border: 3px solid black; */
  grid-area: GoodsListInput;

  margin: 12% 2% 2% 33%;
  max-height: 35%;

  display: grid;
  grid-template-areas: 'InputText kilo InputAddBtn'
                       'InputText pcs InputAddBtn';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 8fr 1fr 1fr; 

  /* background-color: #f7ea63ba; */
}

.InputText {
  grid-area: InputText;

}

#listText {
  width: 14rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
  box-shadow: inset 6px 5px 0px 0px #ad8d4d, inset -6px -5px 0px 0px #bfe165;
  background: #f7ea63ba;
  color: #21580a;
}

::placeholder {
  color: #0a350387;
  font-size: 1.5rem;
}

.kilo {
  grid-area: kilo;

}

.pcs {
  grid-area: pcs;

}

.InputAddBtn {
  grid-area: InputAddBtn;

}
