.checkbox+label {
  grid-area: checkbox;
  margin: auto;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #2c6515;
  border-radius: 0.3em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked+label::before {
  border-color: #2c6515;
  background-color: #2c6515ba;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #6dbe4dba;
}

.checkbox:not(:disabled):active+label::before {
  background-color: #6dbe4dba;
  border-color: #6dbe4dba;
}
.checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 98, 0.25);
}
.checkbox:focus:not(:checked)+label::before {
  border-color: #498a2fba;
}

.checkbox:disabled+label::before {
  background-color: #bfecd6;
}

#check1 {
  opacity: 0;
  display: none;
}