.BoxElements {
  grid-area: BoxElements;
  overflow: auto
}

.ListElement {
  margin: 2%;
  display: grid;
  grid-template-areas: 'checkbox bodyOfElem delete';
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 6fr 1fr;
}

.element {
  cursor: pointer;
  padding: 0 0 0 5%;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  
  grid-area: checkbox;
  position: relative;
  margin: auto;
  height: 2rem;
  width: 2rem;
}

.BodyOfElem {
  grid-area: bodyOfElem;
  max-height: 1.5em;
  display: grid;
  grid-template-areas: 'text edit';
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr;
}

.text {
  grid-area: text;
  margin: 0% 3% 0% -4%;

  font-size: 1.5rem;
  font-weight: bold;
  font-family: fantasy;
  color: rgb(17,17,17);
  text-decoration: none;
  vertical-align: middle;
}

.wasChecked {
  text-decoration: line-through;
  color: #6b6b6bcc
} 

.changeInput {
  grid-area: text;
  display: inline-flex;
  margin: 0% 4% 0% 7%;
  padding: 0% 0% 0% 1%;
  background: none;
  border-top: 3px #7e4d049d solid;
  border-left: 3px #7e4d049d solid;
  border-right: 3px #3e780481 solid;
  border-bottom: 3px #3e780481 solid;

  border-radius: 0.5rem;

}

.inputText, .inputNumber, .inputUnit {
  font-size: 150%;
  font-family: fantasy;
  color: rgb(17,17,17);
  background: none;
  border: none;

  &:active {
    background: #86a65674;
  }
  &:hover {
    background: #4d45965b;
  }
  &:focus-visible {
    outline: none;
    background: #4596785e;
  }
}

.ModifyBlock {
  display: grid;
  grid-template-areas: 'inputText inputNumber inputUnit tick';
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  max-height: 1.5em;
}

.inputText {
  grid-area: inputText;
  border-right: solid 2px #7e4d049d;
  width: 90%;
}
.inputNumber {
  grid-area: inputNumber;
  border-right: solid 2px #7e4d049d;
  width: 80%;
}
.inputUnit {
  grid-area: inputUnit;
  width: 90%;
}
.tick {
  grid-area: tick;
  background-image: url('./icons/tick.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon {
  background-repeat: no-repeat;
  width: 70%;
  background-position: center center;
}

.edit {
  grid-area: edit;
  background-image: url('./icons/edit.svg');
}

.delete {
  grid-area: delete;
  background-image: url('./icons/delete.svg');
}
