.Background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

.BackImg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

.AppName {
  font-size: 9vw;
  font-family: fantasy;
  color: rgb(58 148 178);
  grid-area: EnterField;
  padding-right: 0;

  margin-left: 20%;
  margin-top: 0%;
  margin-bottom: -4%;
}
.AppName_anima {
  animation-name: appName;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

@keyframes appName {
  0% {
    margin-right: 0%;
  }
  100% {
    margin-right: 50%;
  }
}
