.BasicContent {
  grid-area: BasicContent;
}

.BasicContent__basicBackground {
  height: 31.5%;
  width: 44.5%;
  background-image: url('../backImg/BasicBackground.jpeg');

}

.BasicContent__basicElements {
  height: 96%;
  width: 98%;
}

.BasicContent__basicElement {
  min-height: 14%;
}
