.BasicContents {
  display: block;
  /* border: 3px solid #94702a; */
  grid-area: BasicContents;
  background-color: aliceblue;
  background-image: url('../backImg/basicBackground.jpeg');
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  background-clip: border-box;
}
