.App {
  display: grid;
  grid-template-areas: 'AppName         AppName         AppName         AppName        AuthField      RegisterField'
                       'FridgeContents  FridgeContents  FridgeContents  GoodsListInput GoodsListInput GoodsListInput'
                       'FridgeContents  FridgeContents  FridgeContents  GoodsListBox   GoodsListBox   GoodsListBox'
                       'FridgeContents  FridgeContents  FridgeContents  GoodsListBox   GoodsListBox   GoodsListBox'
                       'FreezerContents FreezerContents FreezerContents GoodsListBox   GoodsListBox   GoodsListBox'
                       'FreezerContents FreezerContents FreezerContents GoodsListBox   GoodsListBox   GoodsListBox';
  grid-template-rows:  repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  height: 95vh;
}
