.VegFrutsContents {
  display: block;
  grid-area: VegFrutsContents;
  border-top: 2px solid #042f58;
  background-color: aliceblue;
  background-image: url('../backImg/VegFrutsBackground.jpeg');
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  background-clip: border-box;
}
